<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8">
    <title> Anachak </title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Basic Styles -->
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/font-awesome.min.css">

    <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
    <link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-production-plugins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-skins.min.css">

    <!-- SmartAdmin RTL Support -->
    <link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-rtl.min.css">

    <!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
    <link rel="stylesheet" type="text/css" media="screen" href="css/demo.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/la-controls.css">

    <!-- #FAVICONS -->
    <link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon/favicon.ico" type="image/x-icon">

    <!-- #GOOGLE FONT -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">


</head>

<body class="smart-style-4">
    <!-- #HEADER -->
    <header id="header">
        <div id="logo-group">
            <!-- PLACE YOUR LOGO HERE -->
            <span id="logo"> <img src="img/logo-pale.png" alt="SmartAdmin"> </span>
            <!-- END LOGO PLACEHOLDER -->
        </div>

        <!-- #TOGGLE LAYOUT BUTTONS -->
        <!-- pulled right: nav area -->
        <div class="pull-right">
            <!-- collapse menu button -->
            <div id="hide-menu" class="btn-header pull-right">
                <span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i
                            class="fa fa-reorder"></i></a>
                </span>
            </div>
            <!-- end collapse menu -->

            <!-- start logout button -->
            <div id="logout" class="btn-header transparent pull-right">
                <span> <a href="login.html" title="Sign Out" data-action="userLogout"
                        data-logout-msg="You can improve your security further after logging out by closing this opened browser"><i
                            class="fa fa-sign-out"></i></a> </span>
            </div>
            <!-- end logout button -->

            <!-- start fullscreen button -->
            <div id="fullscreen" class="btn-header transparent pull-right">
                <span> <a href="javascript:void(0);" data-action="launchFullscreen" title="Full Screen"><i
                            class="fa fa-arrows-alt"></i></a>
                </span>
            </div>
            <!-- end fullscreen button -->
        </div>
        <!-- end pulled right: nav area -->
    </header>
    <!-- END HEADER -->

    <!-- #NAVIGATION -->
    <!-- Left panel : Navigation area -->
    <aside id="left-panel">
        <!-- stat user info -->
        <div class="login-info">
            <span>
                <a>
                    <img src="img/avatars/anachak.png" alt="me" class="online" />
                    <span>Hunridolla</span>
                </a>
            </span>
        </div>

        <!-- end user info -->
        <nav>
            <ul>
                <li>
                    <a href="root.html"><i class="fa fa-lg fa-fw fa-inbox"></i> <span
                            class="menu-item-parent">Home</span></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-lg fa-fw fa-bar-chart-o"></i> <span
                            class="menu-item-parent">Stocks</span></a>
                    <ul>
                        <li class="active menu">
                            <a data-target="FRM-001">Categories</a>
                        </li>
                        <li class="menu">
                            <a data-target="FRM-002">Vendor Types</a>
                        </li>
                        <li class="menu">
                            <a data-target="FRM-003">Items</a>
                        </li>
                        <li class="menu">
                            <a data-target="FRM-004">Vendors</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

        <span class="minifyme" data-action="minifyMenu">
            <i class="fa fa-arrow-circle-left hit"></i>
        </span>

    </aside>
    <!-- END NAVIGATION -->

    <!-- MAIN PANEL -->
    <div id="main" role="main">

        <!-- RIBBON -->
        <div>
            <ol class="breadcrumb">
                <li><a id="btn-new-item" class="btn btn-sm btn-success"><i class="fa fa-plus"></i> New</a></li>
                <li><a id="btn-save-item" class="btn btn-sm btn-success"><i class="fa fa-check"></i> Commmit</a></li>
                <li><a id="btn-find-item" class="btn btn-sm btn-primary" data-toggle="modal"
                        data-target="#find-item-modal"><i class="fa fa-search"></i> Find</a></li>
            </ol>
        </div>
        <!-- END RIBBON -->

        <!-- MAIN CONTENT -->
        <div id="content">
            <section id="widget-grid">
                <div class="row">
                    <article class="col-sm-12 col-md-12 col-lg-12">
                        <div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false"
                            data-widget-editbutton="false" data-widget-togglebutton="false">
                            <header>
                                <span class="widget-icon"> <i class="fa fa-pencil-square-o"></i> </span>
                                <h2>Form Name</h2>
                            </header>
                            <!-- start widget div-->
                            <div>
                                <!-- start widget edit box -->
                                <div class="jarviswidget-editbox">
                                    <input class="form-control" type="text">
                                </div>
                                <!-- end widget edit box -->

                                <!-- start widget content -->
                                <div class="widget-body">
                                    <!-- content here -->
                                </div>
                                <!-- end widget content -->

                            </div>
                            <!-- end widget div -->
                        </div>
                    </article>
                </div>
            </section>
            <!-- end widget grid -->


            <!-- Find Item Modal -->
            <div class="modal fade" id="find-item-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="modal-label">Finding Items</h4>
                        </div>
                        <div class="modal-body">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="item_id"> Item ID</label>
                                        <input id="item_id" type="text" class="form-control" value="" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="item_name">Item Name</label>
                                        <input id="item_name" type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="stock_type">Stock Type</label>
                                        <input id="stock_type" type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="category">Category</label>
                                        <input id="category" type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="cost_method">Cost Method</label>
                                        <input id="cost_method" type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" class="checkbox style-0">
                                                <span>Inactive</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-sm-12">
                                    <a id="btnFind" class="btn btn-labeled btn-primary" data-toggle="modal"
                                        data-target="#listing-modal">
                                        <span class="btn-label">
                                            <i class="glyphicon glyphicon-search"></i></span>Find</a>
                                    <a class="btn btn-labeled btn-danger" data-dismiss="modal"> <span class="btn-label">
                                            <i class="glyphicon glyphicon-remove-circle"></i></span> Cancel </a>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->


            <!-- Listing Modal -->
            <div class="modal" id="listing-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="modal-label">Anachak</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="table-responsive">
                                    <table id="tblListing" class="table table-bordered table-hover">
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->


            <!-- Golbal Modal -->
            <div class="modal global-modal" id="global-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="modal-label">Anachak</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="table-responsive custom-scroll" style="max-height:400px;">
                                    <table id="tblglobal" data-target="golbal-data-target" class="table table-bordered table-hover tblglobal">
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

        </div>
        <!-- END MAIN CONTENT -->

    </div>

    <!-- END MAIN PANEL -->
    <div id="shortcut">
        <ul>
            <li>
                <a href="inbox.html" class="jarvismetro-tile big-cubes bg-color-blue"> <span class="iconbox"> <i
                            class="fa fa-envelope fa-4x"></i>
                        <span>Mail <span class="label pull-right bg-color-darken">14</span></span> </span> </a>
            </li>
            <li>
                <a href="calendar.html" class="jarvismetro-tile big-cubes bg-color-orangeDark"> <span class="iconbox">
                        <i class="fa fa-calendar fa-4x"></i>
                        <span>Calendar</span> </span> </a>
            </li>
            <li>
                <a href="gmap-xml.html" class="jarvismetro-tile big-cubes bg-color-purple"> <span class="iconbox"> <i
                            class="fa fa-map-marker fa-4x"></i>
                        <span>Maps</span> </span> </a>
            </li>
            <li>
                <a href="invoice.html" class="jarvismetro-tile big-cubes bg-color-blueDark"> <span class="iconbox"> <i
                            class="fa fa-book fa-4x"></i>
                        <span>Invoice <span class="label pull-right bg-color-darken">99</span></span> </span> </a>
            </li>
            <li>
                <a href="gallery.html" class="jarvismetro-tile big-cubes bg-color-greenLight"> <span class="iconbox"> <i
                            class="fa fa-picture-o fa-4x"></i>
                        <span>Gallery </span> </span> </a>
            </li>
            <li>
                <a href="profile.html" class="jarvismetro-tile big-cubes selected bg-color-pinkDark"> <span
                        class="iconbox"> <i class="fa fa-user fa-4x"></i> <span>My Profile </span> </span> </a>
            </li>
        </ul>
    </div>
    <!-- END SHORTCUT AREA -->

    <!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
    <script data-pace-options='{ "restartOnRequestAfter": true }' src="js/plugin/pace/pace.min.js"></script>

    <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        if (!window.jQuery) {
            document.write('<script src="js/libs/jquery-3.2.1.min.js"><\/script>');
        }
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script>
        if (!window.jQuery.ui) {
            document.write('<script src="js/libs/jquery-ui.min.js"><\/script>');
        }
    </script>

    <!-- IMPORTANT: APP CONFIG -->
    <script src="js/app.config.js"></script>

    <!-- JS TOUCH : include this plugin for mobile drag / drop touch events-->
    <script src="js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script>

    <!-- BOOTSTRAP JS -->
    <script src="js/bootstrap/bootstrap.min.js"></script>

    <!-- CUSTOM NOTIFICATION -->
    <script src="js/notification/SmartNotification.min.js"></script>

    <!-- JARVIS WIDGETS -->
    <script src="js/smartwidgets/jarvis.widget.min.js"></script>

    <!-- EASY PIE CHARTS -->
    <script src="js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>

    <!-- SPARKLINES -->
    <script src="js/plugin/sparkline/jquery.sparkline.min.js"></script>

    <!-- JQUERY VALIDATE -->
    <script src="js/plugin/jquery-validate/jquery.validate.min.js"></script>

    <!-- JQUERY MASKED INPUT -->
    <script src="js/plugin/masked-input/jquery.maskedinput.min.js"></script>

    <!-- JQUERY SELECT2 INPUT -->
    <script src="js/plugin/select2/select2.min.js"></script>

    <!-- JQUERY UI + Bootstrap Slider -->
    <script src="js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>

    <!-- browser msie issue fix -->
    <script src="js/plugin/msie-fix/jquery.mb.browser.min.js"></script>

    <!-- FastClick: For mobile devices -->
    <script src="js/plugin/fastclick/fastclick.min.js"></script>

    <!--[if IE 8]>

    <h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

    <![endif]-->

    <!-- Demo purpose only
    <script src="js/demo.min.js"></script> -->

    <!-- MAIN APP JS FILE -->
    <script src="js/app.min.js"></script>

    <!-- ENHANCEMENT PLUGINS : NOT A REQUIREMENT -->
    <!-- Voice command : plugin -->
    <script src="js/speech/voicecommand.min.js"></script>

    <!-- SmartChat UI : plugin -->
    <script src="js/smart-chat-ui/smart.chat.ui.min.js"></script>
    <script src="js/smart-chat-ui/smart.chat.manager.min.js"></script>
    <script src="js/app.anachak.js"></script>

    <script>

        $(document).ready(function () {
            pageSetUp();
            $(document).on("click", "#btn-save-item", function (event) {
                closedthis(event);
            });

            function closedthis(event) {
                $.smallBox({
                    title: "Anachak",
                    content: "You have committed successfully!",
                    color: "#739E73",
                    iconSmall: "fa fa-bell-o",
                    timeout: 2500
                });
                event.preventDefault();

            }
        });

        var vendor_data = [
            { vendor_id: "Vendor ID", vendor_name: "Vendor Name", phone: "Phone", remark: "Remark" },
            { vendor_id: "V-001", vendor_name: "Fiplus Khmer", phone: "012 12 12 12", remark: "123" },
            { vendor_id: "V-002", vendor_name: "Samlanh Finance", phone: "012 13 13 13", remark: "123" },
            { vendor_id: "V-003", vendor_name: "Blue Finance", phone: "012 13 13 13", remark: "123" },
            { vendor_id: "V-004", vendor_name: "Fiplus Khmer", phone: "012 12 12 12", remark: "123" },
            { vendor_id: "V-005", vendor_name: "Samlanh Finance", phone: "012 13 13 13", remark: "123" },
            { vendor_id: "V-006", vendor_name: "Blue Finance", phone: "012 13 13 13", remark: "123" },
            { vendor_id: "V-007", vendor_name: "Fiplus Khmer", phone: "012 12 12 12", remark: "123" },
            { vendor_id: "V-009", vendor_name: "Samlanh Finance", phone: "012 13 13 13", remark: "123" },
            { vendor_id: "V-010", vendor_name: "Blue Finance", phone: "012 13 13 13", remark: "123" },
            { vendor_id: "V-011", vendor_name: "Fiplus Khmer", phone: "012 12 12 12", remark: "123" },
            { vendor_id: "V-012", vendor_name: "Samlanh Finance", phone: "012 13 13 13", remark: "123" },
            { vendor_id: "V-013", vendor_name: "Blue Finance", phone: "012 13 13 13", remark: "123" },
            { vendor_id: "V-014", vendor_name: "Fiplus Khmer", phone: "012 12 12 12", remark: "123" },
            { vendor_id: "V-015", vendor_name: "Samlanh Finance", phone: "012 13 13 13", remark: "123" }
        ];


        $(document).on("click", ".cButton", function (event) {
            var control_id = this.id;
            var data_target  = $(this).data("target");
                data_target =  data_target.replace("#", "");
            change_modal_info(control_id,data_target);
            load_modal_data("#" + control_id + "", "#" + "tbl" + control_id + "", vendor_data);
        });

        function change_modal_info(control_id,data_target) {
            $(".global-modal").attr("id",data_target);
            $(".tblglobal").attr("id","tbl" + control_id);
            $(".tblglobal").attr("data-target",control_id.substr(control_id.length - 9));
        }

        function load_modal_data(button_id, table_id, modal_data) {
            $(table_id).html('');
            var table_header = "<thead>" + "<tr>";
            $.each(modal_data[0], function (key, value) {
                table_header += "<th>" + value + "</th>";
            });
            table_header += "</tr></thead>"

            var table_body = "<tbody>";
            $.each(modal_data, function (index, object) {
                if (index === 0) return;
                table_body += "<tr class=\"AA\">";
                $.each(object, function (key, value) {
                    table_body += "<td>" + value + "</td>";
                });
                table_body += "</tr>";
            });
            table_body += "</tbody>";
            $(table_id).append(table_header);
            $(table_id).append(table_body);
        }

        $(document).on("dblclick", "tr.AA", function (event) {
            var cCode = $(this).find('td').eq(0).html();
            var cText = $(this).find('td').eq(1).html();
            var control_target = $(this).closest('table').attr('data-target');
            var control_id = $('#' + control_target + '').attr('id');
            $('.cCode', '#' + control_id + '').val(cCode);
            $('.cText', '#' + control_id + '').html(cText);
            var current_modal = $(this).closest('.modal').attr('id');
            $('#' + current_modal + '').modal('toggle');
        });
    </script>
</body>

</html>